/* CSS Structure
 - Fonts and design system
 - Search bar styling
 
*/
@font-face {
  /* Mono */
  font-family: "Inconsolata";
  src: url('../fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf') format('truetype');
}
@font-face {
  /* Sans-serif */
  font-family: "Inter";
  src: url('../fonts/inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}
@font-face {
  /* Serif */
  font-family: "Lora";
  src: url('../fonts/lora/Lora-VariableFont_wght.ttf') format('truetype');
}
:root {
  font-size: 20px;
  font-weight: 400;
  --serif: "Lora";
  --sans-serif: "Inter";
  --mono: "Inconsolata";
  --black: #000000;
  --almost-black: #050505;
  --light-black: #1f1f1f;
  --dark-gray: #2d2d2d;
  --medium-gray: #3a3a3a;
  --light-gray: #757575;
  --gray-white: #e9e9e9;
  --almost-white: #f4f4f4;
  --white: #ffffff;
  --active-lavender: #A445ED;
  --alert-red: #ff5252;
  --transition-delay: 0.3s;
  --button-delay: 0.2s;
}
h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.85rem;
}
h2 {
  font-size: 1.2rem;
  line-height: 1.45rem;
}
h3 {
  font-size: 1rem;
  line-height: 1.2rem;
}
p.medium {
  font-size: 0.9rem;
  line-height: 1.2rem;
}
p.small {
  font-size: 0.7rem;
  line-height: 0.85rem;
}
ul {
  list-style: none;
  margin: 0;
}
li {
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-weight: 700;
  display: inline;
}
#sans-serif-control {
  font-family: var(--sans-serif);
  cursor: pointer;
}
#serif-control {
  font-family: var(--serif);
  cursor: pointer;
}
#mono-control {
  font-family: var(--mono);
  cursor: pointer;
}
.font-selector {
  position: relative;
  height: 1.6rem;
  padding-right: 1.3rem;
  border-right: 1px solid var(--gray-white);
}
#font-select-label {
  font-weight: 700;
  display: inline;
  font-family: var(--sans-serif);
  cursor: pointer;
}
#font-select-caret {
  margin-left: 0.9rem;
}
#typeface-selector {
  position: absolute;
  z-index: 100;
  width: 9.15rem;
  top: 2.35rem;
  right: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: var(--white);
  padding: 1.2rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
}
.mode-selector:hover {
  cursor: pointer;
}
.mode-selector:hover .toggle {
  background-color: var(--active-lavender);
}
.mode-selector:hover .toggle-switch {
  transform: translateX(125%);
}
.mode-selector:hover #color-mode-moon path {
  stroke: var(--active-lavender);
}
.toggle {
  width: 2rem;
  height: 1rem;
  background-color: var(--light-gray);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding-inline: 0.2rem;
}
.toggle-switch {
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--white);
  border-radius: 50%;
  transition: all var(--button-delay) ease-in-out;
}
#color-mode-moon {
  width: 1rem;
  transition: all var(--button-delay) ease-in-out;
}
nav,
.modes-container,
.mode-selector {
  display: flex;
  align-items: center;
}
.modes-container {
  margin-left: auto;
  max-height: 1.8rem;
}
.mode-selector {
  justify-content: flex-end;
  gap: 1rem;
  padding-left: 1.3rem;
}

/* Search bar styling */
.search-container {
  width: 100%;
  position: relative;
}
#word-search {
  border: none;
  background-color: var(--almost-white);
  width: 100%;
  height: 3.2rem;
  border-radius: 0.8rem;
  padding-left: 1.2rem;
  padding-block: 1rem;
  color: var(--dark-gray);
  font-size: 1rem;
  font-family: var(--serif);
  font-weight: 700;
  position: relative;
  z-index: 10;
}
#word-search::placeholder {
  opacity: 0.5;
}
#word-search:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid var(--active-lavender);
}
#word-search-label {
  position: absolute;
  z-index: -100;
  top: 1.5rem;
  left: 1.5rem;
}
#input-wrapper::after {
  content: '';
  width: 64px;
  height: 64px;
  background-image: url('../images/icon-search.svg');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

/* Primary Content Styles */
body {
  width: 736px;
  margin-inline: auto;
}
header {
  margin-top: 2.9rem;
  margin-bottom: 2.6rem;
}

/* Media Queries */
@media (max-width: 768px) {
  body {
    width: unset;
  }
  header, main, footer {
    margin-inline: 2rem;
  }
}
@media (max-width: 450px) {
  header, main, footer {
    margin-inline: 1.2rem;
  }
  header {
    margin-block: 1.2rem;
  }
  #logo {
    max-height: 1.6rem;
  }
  .font-selector {
    padding-right: 0.8rem;
  }
  #font-select-label {
    font-size: 0.7rem;
  }
  #font-select-caret {
    margin-left: 0.8rem;
  }
  .mode-selector {
    padding-left: 0.8rem;
    gap: 0.6rem;
  }
}

.hidden {
  visibility: hidden;
}